.border {
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

.border>.box-1 {
    width: 30px;
    height: 30px;
    background: red;
}

.border>.box-2 {
    display: none;
    margin-left: 270px;
    width: 30px;
    height: 30px;
    background: red;
}

.border>.box-3 {
    display: none;
    margin-left: 270px;
    margin-top: 270px;
    width: 30px;
    height: 30px;
    background: red;
}

.border>.box-4 {
    display: none;
    margin-top: 270px;
    width: 30px;
    height: 30px;
    background: red;
}